@import 'tailwindcss';
@import './fonts.css';

@layer base {
  :root {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@theme {
  --default-font-family: 'Plus Jakarta Sans', ui-sans-serif, system-ui;
}

body {
  @apply text-[17px]/[36px] ;
}

.container {
  @apply mx-auto max-w-352.5;
}
