@import 'tailwindcss';
@import './fonts.css';

@layer base {
  :root {
    --default-font-family: 'Plus Jakarta Sans', ui-sans-serif, system-ui;
    --font-size-base: 17px;
    --line-height-base: 2.12;

    --color-bg-body: #191B1F;
    --color-text-body: #ffffff;
    --color-bg-card: #242731;
    --color-border: #374151;

    font-family: var(--default-font-family), sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  :root[data-theme="light"] {
    --color-bg-body: #ffffff;
    --color-text-body: #111827;
    --color-bg-card: #f9fafb;
    --color-border: #e5e7eb;
  }
}

@theme {
  --color-primary: #3b82f6;
  --color-primary-50: #eff6ff;
  --color-secondary: #10b981;
  --color-accent: #f59e0b;
}

body {
  @apply p-3.75 font-medium;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  background-color: var(--color-bg-body);
  color: var(--color-text-body);
}

.container {
  @apply mx-auto max-w-352.5;
}

.weather-panel {
  @apply border border-white/10 rounded-[28px] px-10 py-11.5 bg-linear-to-r from-white/10 to-gray-400/10;
}
