@import 'tailwindcss';
@import './fonts.css';

@theme {
  --default-font-family: 'Plus Jakarta Sans', ui-sans-serif, system-ui;
  --font-size-base: 17px;
  --line-height-base: 1.6;
  --color-bg-body: #191B1F;
  --color-text-body: #fff;
}

@layer base {
  :root {
    font-family: var(--default-font-family), sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

body {
  @apply p-3.75 font-medium;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  background-color: var(--color-bg-body);
  color: var(--color-text-body);
}

.container {
  @apply mx-auto max-w-352.5;
}
