@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-primary: #343d4b;
  --color-secondary: #222831;
  --color-card: #272e37;
  --color-card-hover: #3a434f;
  --color-placeholder: #3f4958;
  --color-gradient-button: linear-gradient(
    91deg,
    rgba(144, 217, 224, 0.9) 0.2%,
    rgba(84, 96, 230, 0.9) 100%
  );
  --color-gradient-button-hover: linear-gradient(
    256deg,
    rgba(144, 217, 224, 0.9) 9.04%,
    rgba(84, 96, 230, 0.9) 92.2%
  );
  --default-font-family: "Montserrat", sans-serif;
}
